body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:0px;
  top:320px;
  width:360px;
  height:50px;
}
#u215 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:0px;
  top:580px;
  width:90px;
  height:60px;
}
#u219 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u220 {
  position:absolute;
  left:30px;
  top:595px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u220_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u220.mouseDown {
}
#u220_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u220.selected {
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  position:absolute;
  left:90px;
  top:580px;
  width:90px;
  height:60px;
}
#u224 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u225 {
  position:absolute;
  left:120px;
  top:595px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u225_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u225.mouseDown {
}
#u225_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u225.selected {
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:180px;
  top:580px;
  width:90px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u230 {
  position:absolute;
  left:210px;
  top:595px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u230_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u230.mouseDown {
}
#u230_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u230.selected {
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:270px;
  top:580px;
  width:90px;
  height:60px;
}
#u234 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u235 {
  position:absolute;
  left:300px;
  top:595px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u235_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u235.mouseDown {
}
#u235_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u235.selected {
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:120px;
  color:#FFFFFF;
}
#u239 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u240 {
  position:absolute;
  left:16px;
  top:35px;
  width:90px;
  height:90px;
}
#u241 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:130px;
  top:58px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u244 {
  position:absolute;
  left:130px;
  top:84px;
  width:204px;
  height:16px;
  color:#868686;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:0px;
  top:160px;
  width:360px;
  height:50px;
}
#u247 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u248 {
  position:absolute;
  left:16px;
  top:170px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u249 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u250 {
  position:absolute;
  left:60px;
  top:170px;
  width:100px;
  height:30px;
  text-align:left;
}
#u251 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:0px;
  top:210px;
  width:360px;
  height:50px;
}
#u253 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u254 {
  position:absolute;
  left:60px;
  top:220px;
  width:100px;
  height:30px;
  text-align:left;
}
#u255 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u256 {
  position:absolute;
  left:16px;
  top:220px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u257 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:50px;
}
#u259 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u260 {
  position:absolute;
  left:60px;
  top:280px;
  width:100px;
  height:30px;
  text-align:left;
}
#u261 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u262 {
  position:absolute;
  left:16px;
  top:280px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  text-align:center;
}
#u263 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9A00;
  text-align:center;
}
#u264 {
  position:absolute;
  left:16px;
  top:330px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9A00;
  text-align:center;
}
#u265 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u266 {
  position:absolute;
  left:60px;
  top:330px;
  width:100px;
  height:30px;
  text-align:left;
}
#u267 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
